@charset "UTF-8";
* {
  /*обращаемся ко всему файлу  это значит 
  обнуление css*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  /*меняет подсчет ширины блока так, чтобы
  было удобно верстать*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  /*убираем линии обводки у некоторых браузеров*/
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  /*делаем их блочными*/
  display: block;
}

html, body {
  /*уравнивает поведение шрифтов и 
  элементов, запрещает самовольное увеличение шрифта
  на айфонах*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: Montserrat;
}

/*просим наследовать семейство шрифта*/
input::-ms-clear {
  display: none;
}

/*это все убирает некоторые 
особенности браузеров*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body{
  height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container{
  max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container{
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px){
  .header__container {
    min-height: 85px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  
}
.menu{
  padding: 5px 0;
}
.header__menu {
  margin-left: 133px;
}
@media (max-width: 992px){
  .header__menu {
    margin-left: 80px;
  }
}
@media (max-width: 767px){
  .header__menu {
    margin-left: 50px;
  }
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu__list {
  display: flex;
  flex-wrap: wrap;  /*чтобы пункты меню ломались*/
}
.menu__item {
 margin-right: 21px;
}
.menu__item:last-child{
  margin-right: 0;
}
/*.menu__item:not(:last-child){
  margin-right: 21px;
}*/
.menu__link{
  font-weight: 600;
  color: #737373;
  line-height: calc(24 /14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px){
  .menu__link {
    font-size: 18px;
  }
}

.page{
  flex: 1 1 auto;
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
.main-block{
  position: relative;
}
.main-block__body{
  padding: 184px 0 191px 0 ;
  max-width: 400px;
  position: relative;
	z-index: 2;
}
@media (max-width: 992px){
  .main-block__body{
    padding: 120px 0 191px 0;
  }
}
@media (max-width: 479px){
  .main-block__body{
    padding: 115px 0 160px 0;
  }
}
.main-block__body > *:not(:last-child){
  margin-bottom: 35px;
}
.main-block__title {
  font-size: 58px;
  line-height:137%;
  letter-spacing: 0.2;
  font-weight: 800;
}
@media (max-width:479px){
  .main-block__title{
    font-size: 42px;
  }
}
.main-block__text {
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #737373;
}
.main-block__image {
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
.main-block__buttons{
  display:flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__link{
  padding: 5px 36px;
  font-weight: 700;
  border-radius: 37px;
  letter-spacing: 0.2px;
  line-height: 150%;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}
@media (max-width:479px){
  .main-block__link{
    flex: 1 1 auto;
  }
}
.main-block__link:not(:last-child){
  margin-right: 10px;
}
.main-block__link_orange {
  color: #fff;
  background-color: #FF7B47;
}
.main-block__link_grey{
color:#0D5C63;
border: 1px solid #0D5C63 ;
}
.main-block__link:not(:last-child){
  margin-right: 10px;
}
@media (max-width:1300px){
}
.footer__text{
  font-weight: 600;
  color: #737373;
  letter-spacing: 0.2px;
  line-height:133%;
}
.services__row {
}
@media (min-width: 670px){
  .services__row{
    flex-wrap: wrap;
    margin: 0 -15px;
    display: flex;
  }
}
.services__column {
  flex: 1 1 33.333%;
}
@media (min-width: 670px){
  .services__column{
    padding: 0 15px;
  }
}
@media (max-width:992px){
  .services__column{
    flex: 0 1 50%;
  }
  .services__column:not(:last-child){
    margin-bottom: 30px;
  }
  .services__column:last-child{
    flex: 1 1 100%;
  }
}
.services__item {
padding: 35px 40px;
background-color: #fff;
height: 100%;
box-shadow: 4px 4px 4px #737373;
}
.services__item >*:not(:last-child){
  margin-bottom: 10px;
}
.services__item-green{
  background-color: #0D5C63;
}
.services__image {
}
.services__subtitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2;
  color: #252B42;
}
.services__subtitle-green{
  color: #fff;
}
.subtitle {
}
.services__text {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
}
.services__text-green{
  color:#fff;
}
.page__advent {
}
.advent {
  padding: 80px 0;
}
@media (max-width: 992px){
  .advent {
    padding: 50px 0;
  }
}
@media (max-width: 767px){
  .advent {
    padding: 40px 0;
  }
}
.advent__header {
  margin-bottom: 50px;
 /* max-width: 610px;
  margin: 0 auto;
  
  color: #252B42;*/
}
@media (max-width: 767px) {
	.advent__header {
		margin: 0px 0px 25px 0px;
	}
}
.header-block{
  letter-spacing: 0.2;
}
.header-block__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
@media(max-width: 992px){
  .header-block__title{
    font-size: 35px ;
  }
}
@media(max-width: 767px){
  .header-block__title{
    font-size: 30px ;
  }
}
.header-block__title:not(:last-child){
  margin-bottom: 10px;
}
.header-block__text {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
  text-align: center;
}
.advent__row {
  
}
@media(min-width: 560px){
.advent__row {
  display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
  
}
}
.advent__column {
  padding: 0 15px;
  flex:  0 1 25%;
  margin-bottom: 30px;
}
@media (max-width: 560px) {
	.advent__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 1020px){
  .advent__column{
    flex: 0 1 50%;
  }
}

.advent__item {
  background-color: #fff;
  text-align: center;
  padding: 30px 40px;
  font-weight: 700;
}
.advent__item > *:not(:last-child){
  margin-bottom: 10px;
}
.item__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center; /* прибили низкие икнки книзу*/
}
.item__statistic {
  font-size: 40px;
  font-weight: 700;
}
.advent__desc{
font-size: 16px;
font-weight: 700;
letter-spacing: 0.1;
color: #737373;
}
.page-practis{
}
.practis{
  padding: 125px 0 80px 0;
  background-color: #FAFAFA;
}

@media (max-width:993px){
  .practis{
    padding: 40px 0 80px 0;
  }
}
@media (max-width:767px){
  .practis{
    padding: 40px 0 40px 0;
  }
}
.practis__container {
}
._container {
}
.practise__header {
  margin-bottom: 45px;
}
@media (max-width:767px){
  .practise__header {
    margin-bottom: 25px;
  }
}

.practis__row{
   display: flex;
   flex-wrap: wrap;
  margin: 0 -20px -30px;
}


.practis__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin-bottom: 30px;
}
@media (max-width: 1040px){
  .practis__column{
    flex: 0 1 50%; 
  }
}
@media (max-width:630px){
  .practis__column{
    flex: 0 1 100%; 
  }
}
.practis__item {
  
}
.item-practise {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practise__content{
  padding: 30px;
  flex: 1 1 auto;
}
.practise-title__link {
  color: inherit;
  display: inline-block;
}
.item-practise__title {
  font-size: 16px;
  font-weight: 700;
  line-height:150%;
}
.item-practise__text {
  color: #737373;
  line-height:142%;
}
.item-practise__img {
  display: block;
	padding: 0px 0px 60% 0px;
}

.whoweare{
  background: #ffffff;
  padding: 100px 0 100px 0;
}
@media (max-width:950px){
  .whoweare{
    padding: 50px 0 50px 0;
  }
}
.whoweare__header {
  margin-bottom: 100px;
}
@media (max-width:950px){
  .whoweare__header{
    margin-bottom: 30px;
  }
}
.whoweare__row {
  display: flex;
  align-items:flex-start;
}
@media (max-width:950px){
  .whoweare__row{
    flex-direction: column-reverse; /*чтобы текст был перед видео на адаптиве*/
    align-items: stretch; /*когда видео исчезает, прижимаясь к левому краю, при этом видна высота и ширина стоит ноль в инспекторе*/
  }
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%; /*442px (высота видео)/1046px(контейнер)*100%= 0.4225 или 42.25% процентный паддинг высчитывается в этом случаее от ширины флекс контейнера, тк является его элементом. если бы мы видео обернули в обертку, то падинг высчитывался бы от ширины родителя, т е там было 600пикс, но обертки нет, поэтому родителем является флекс контейнер*/
}
.whoweare__video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto; /*если видео вдру удалят, то флекс 1 1 позволит контенту занять всю ширину экрана*/
  padding: 20px 0 0 121px; /*здесь почему -то обходимся просто паддингом без отриц маржинов*/
}
@media (max-width:1080px){
  .whoweare__content{
    padding: 0 0 0 50px ;
  }
}
.whoweare__title {
  line-height: 142%;
  font-weight: 800;
  font-size: 40px;
}
@media (max-width:950px){
  .whoweare__title{
font-size: 24px;
  }
  .whoweare__content{
    padding: 0 0 0 0 ;
  }
   .whoweare__video:not(:last-child){
     margin-top: 50px;
   }
   .whoweare__video{
     padding: 0 0 56.25% 0;
   }
}
@media (max-width:767px){
  .whoweare{
    padding: 20 0 50 0;
  }
}
.whoweare__title:not(:last-child){
  margin-bottom: 10px;
}
.whoweare__text {
  color: #737373;
  line-height:142%; /*20/14*100%*/
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whoweare__items {
  /*при совмещении двух отступов-верхний и нижний, происходит схлопывание и остается больший*/
}
.whoweare__item:not(:last-child){
  margin-bottom: 50px;
}
.whoweare__item {
  
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  padding-left: 20px;
  flex: 1 1 auto;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height:150%;   /*24 указанный в макете лайн хайт/16 размер текста*100%*/
}
.item-whoweare__title:not(:last-child){
  margin-bottom: 5px;
}
.item-whoweare__text {
  font-size: 14px;
  color: #737373;
  white-space: nowrap;
  line-height:142%; /*скрывает текст за многоточием*/
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page__clients {
  padding-bottom: 20px;
}
.clients{
  padding: 50px 0;
background-color: #FAFAFA;
}
@media (max-width:767px){
  .clients{
    padding: 30px 0;
  }
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  flex: 0 1 16.6667%;
  padding: 8 15px;
  text-align: center;
  min-width: 140px; /*чтобы картинки не уменьшались пропорционально*/
}
.clients__item img{
max-width:100%;  /*если вдруг попадет большая картинка,чтобы она адаптировалась*/
}
.page__subscribe {
  margin: 20px 0;
}
.subscribe {
  position: relative;
  padding-bottom: 20px;
}
.subscribe::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background-color: #252B42;

} 
.subscribe__container {
}
.subscribe__row {
  position: relative;
  z-index: 2;
  background-color: #17213C;
  padding: 30px 50px;
  align-items: center;
  border-radius: 2px;
}
@media (min-width: 1070px){/*все что больше 1070 имеет границу 30пкс по бокам, чтобы был такой маржин экран должен быть минимум 1070*/
  .subscribe__row{
    margin: 0 30px;
  }
}
@media (min-width: 810px){
  .subscribe__row{
    display: flex;
    justify-content: space-between;
}
.subscribe__title{
  max-width:266px; /*ограничение ширины работает только после 810 пкс, до этого текст получается без ограничений ширины*/
}
}
@media (max-width: 810px){
.subscribe__title{
  margin-bottom: 20px;
}
.subscribe__row{
  padding: 20px 15px;
  margin: 0 -15px;
}
}
.subscribe__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height:133%;
}
.subscribe__form {
flex: 0 1 50%;
display: flex;
align-items: center;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  color: #737373;
  font-size: 14px;
  border: 1px solid #E5E5E5;
  padding: 0px 20px;
  min-height: 58px;
  background-color: #F9F9F9;
  border-radius: 5px 0 0 5px ;
  border-right: 0;
}
.subscribe__input:focus{
  color: black;
}
.subscribe__button {
  padding: 0 22px;
  background-color: #FF7B47;
  color: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 0 5px 5px 0;
  display: flex;
  min-height: 58px;
  align-items:center;
  justify-content: center;
  text-align: center;
}
.page__touch {
}
.touch {
  padding: 80px 0 136px 0;
}
.touch__header {
  margin-bottom: 80px;
}
.touch__items{
  margin: 8px -15px;
}
@media (min-width:992px){
  .touch__items{
     /* Все что больше 992 -флекс*/
     margin: 0;
    display: flex;
  align-items: center;
  }
}
@media (max-width:992px){
  .touch__header{
 margin: 0px 0px 50px 0px;
  }
  .touch {
  padding: 50px 0 ;
  }
}
@media (max-width:767px){
  .touch__header{
 margin: 0px 0px 30px 0px;
  }
}
.touch__item {
  flex: 0 1 33.333%;
}
.item-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #fff;
  padding: 50px 15px;
}
.item-touch>*:not(:last-child){
  margin-bottom: 15px;
}
.item-touch__icon {
}
.item-touch-emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-touch-email {
  color: inherit;
  font-weight: 600;
  line-height:150%;
font-size: 16px;
}
.item-touch-email:hover{
text-decoration: underline;
}
.item-touch-label {
  font-weight: 700;
  font-size: 16px;
  line-height:150%;
}
.item-touch_active{
  background-color: #252B42;
  color: #fff;
  padding: 80px 15px;
}
.item-touch_active .item-touch__button{
  border: 1px solid #fff;
  color: #fff;
  background: #252B42;
}
.item-touch__button {
  color: #FF7B47;
  min-height: 44px;
  line-height:142%;
  font-weight: 600;
  padding: 0 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.item-touch__button:hover{
  background-color: #FF7B47;
  border: 1px solid #FF7B47;
color: #FAFAFA;
}
.item-touch_active{
  background-color: #252B42;
  color: #fff;
}
.page__contacts {
}
.contacts {
  padding: 42px 0;
}
.contacts__row {
 /* display: flex;
  justify-content:space-between;
  align-items:center;*/
}
@media (min-width:768px){
  .contacts__row {
    display: flex;
    justify-content:space-between;
    align-items:center;
  }
  .contacts__content {
    padding-right: 20px;
  }
}
.contacts__content {
  padding: 0 0 20px 0;
}
.contacts__content>*:not(:last-child){
  margin-bottom: 10px;
}
.contacts__title {
  font-weight: 700;
  font-size: 24px;
  color: #252B42;
  letter-spacing: 0.1px;
  line-height:133%;
}
.contacts__text {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  line-height:142%;
}
.contacts__button {
  background-color: #FF7B47;
  display: flex;
  min-height: 58px;
  align-items:center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px 40px;
  color: #fff;
  transition: background-color 0.3s ease 0s;
}
.contacts__button:hover{
  background-color: #612a14;
}
.footer {
}
.footer__top {
  padding: 35px 0;
  background-color: #17213C;
}
.footer__row{
  display: flex;
  margin: 0 -15px;;
  flex-wrap: wrap;
}
.footer__main {
}
._container {
}
.footer_column {
  flex: 0 1 16.6667%; /*здесь 6 колонок-последняя занимает пространство двух*/
  padding: 15px 15px;
}
@media(max-width:992px){
  .footer_column{
    flex: 0 1 25%;
  }
  .footer_column:last-child{
    flex: 1 1 100%;
    }
}
@media(max-width:700px){
  .footer_column{
    flex: 0 1 50%;
  }
}
.footer_column:last-child{
flex: 0 1 33.334%;
}
.footer__label {
  font-family: Montserrat;
  color: #fff;
  font-size: 16px;
  line-height:150%;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__list>*:not(:last-child){
  margin-bottom: 10px;
}
.menu-footer__item {
}
.menu-footer__link {
  display: inline-block;
  font-family: Montserrat;
  color: #fff;
  line-height:171%;
  letter-spacing: 0.2px;
}
.menu-footer__link:hover{
  text-decoration:underline;
}
.footer__contacts {
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__item{
  color: #fff;
  line-height:142%;
  padding-left: 34px;
  display: flex;
  align-items:center;  /*чтобы была видна иконка, вставленная как бэкграунд, используем флекс, мин хайт и алай айтемс*/
  min-height: 30px;
}
.contacts-footer__item:hover{
  text-decoration:underline;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 12px;
}
.contacts-footer__item_phone {
  background: url(../img/footer/bx_bx-phone.svg)0 0  no-repeat;
}
.contacts-footer__item_map {
  background: url(../img/footer/bx_bx-map.svg)0 0  no-repeat;
}
.contacts-footer__item_email {
  background: url(../img/footer/carbon_send-alt.svg)0 0  no-repeat;
}/* 0 0  иконку прибили к верху*/
.footer__bottom {
  padding: 25px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between; /* когда колонки column мы пишем flex 0 1 50%, когда нет колумн , пишем just-content*/
  align-items:center;
}
.footer__copy {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height:171%;
}
.footer__social {
}
.social {
  display: flex;
  align-items: center;
}
.footer__item {
  
}
.footer__item:not(:last-child){
  margin-right: 20px;
}
@media (max-width:767px){
  .footer__container {
    flex-direction: column;
  }
  .footer__copy{
    margin-bottom: 15px;
    text-align: center;
  }
}/* поставить ховер на кнопки*/
